.document {
  background: var(--primary-background);
  height: 100%;

  :global {
    .grid-wrapper {
      display: grid;
      width: 960px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content max-content 1fr;
      justify-content: center;
      padding: var(--spacing-lg) 0;
      margin: auto;

      .column-span {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        h2 {
          display: inline-block;
          color: var(--neutral2-color);
        }

        :nth-child(2) {
          justify-self: end;
        }

        .search {
          width: 70%;
        }
      }

      .ant-card {
        margin: var(--spacing-md);
        background: var(--tertiary-background);
        color: var(--neutral-color);

        .ant-card-head {
          border-color: var(--linebreak-color);
          color: var(--neutral2-color);
        }

        .card-wrapper {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .document {
    :global {
      .grid-wrapper {
        width: 960px;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: max-content;
      }
    }
  }
}
