.document {
  background: var(--primary-background);
  height: 100%;

  :global {
    .grid-wrapper {
      display: grid;
      max-width: 960px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content max-content 1fr;
      justify-content: center;
      padding: var(--spacing-sm) 0;
      margin: auto;

      .loading-indicator {
        position: absolute;
        bottom: 50%;
        left: 50%;
        z-index: 1;
      }

      .column-span {
        margin: var(--spacing-md);
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        h2,
        h3 {
          display: inline-block;
          color: var(--neutral2-color);
        }
        :nth-child(2) {
          justify-self: end;
        }
      }

      .ant-card {
        margin: var(--spacing-md);
        background: var(--tertiary-background);
        color: var(--neutral-color);
        max-width: 16rem;

        .ant-card-head {
          border-color: var(--linebreak-color);
          color: var(--neutral2-color);
        }

        .card-wrapper {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .document {
    :global {
      .grid-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: max-content;

        .ant-card {
          max-width: 100%;
        }

        .column-span {
          grid-column: inherit;
          grid-template-columns: 1fr;

          > * {
            width: 100%;
          }
        }
      }
    }
  }
}
